footer
	.footer-block
		.container
			.row
				.col-xl-6.col-md-6.footer-left
					.block-title
						h2 the apus
					ul
						li
							p Tỉnh lộ 44, Thị trấn Phước Hải, Huyện Đất Đỏ, Tỉnh Bà Rịa - Vũng Tàu
						li
							p Văn phòng: 35 Nguyễn Cơ Thạch, Khu đô thị mới Sala, Phường An Lợi Đông, Quận 2, Tp. HCM
				.col-xl-6.col-md-6.footer-right
					.desc
						ul
							li 
								span HOTLINE
								span 0901 234 567
							li 
								span EMAIL
								span info@apus.vn
						ul.social
							li
								a(href="")
									i.fab.fa-facebook-square
									span Facebook
							li
								a(href="")
									i.fab.fa-youtube
									span Youtube
							li
								a(href="")
									i.fab.fa-instagram
									span Instagram
						.copyright
							p ©2020 The Apus. Thiết kế website bởi Cánh Cam.