header
	.container
		nav
			.header-left
				.toggle-menu
					.hamburger-button
						span
						span
						span
					span MENU
				.language
					ul
						li.active
							a(href="") VN
						li
							a(href="") EN
				.main-menu
					ul.nav-bar
						li.nav-item
							a.nav-link(href="tong-quan.html") tổng quan
						li.nav-item
							a.nav-link(href="vi-tri.html") vị trí
						li.nav-item.dropdown
							a.nav-link(href="") mặt bằng
							ul.dropdown-menu
								li.dropdown-item
									a(href="") The eden
								li.dropdown-item
									a(href="") The jungle
								li.dropdown-item
									a(href="") The aqua
								li.dropdown-item
									a(href="") the marine
								li.dropdown-item
									a(href="") the ferris
								li.dropdown-item
									a(href="") the lighthouse
								li.dropdown-item
									a(href="") the lounge
						li.nav-item.dropdown
							a.nav-link(href="") tiện ích
							ul.dropdown-menu
								li.dropdown-item
									a(href="tien-ich-ngoai-khu.html") tiện ích ngoại khu
								li.dropdown-item
									a(href="") tiện ích nội khu
						li.nav-item
							a.nav-link(href="nha-mau.html") nhà mẫu
						li.nav-item
							a.nav-link(href="tin-tuc.html") tin tức
						li.nav-item
							a.nav-link(href="lien-he.html") liên hệ
					a(href="")
						em.material-icons mail_outline
						|Đăng ký nhận thông tin
					ul.social
						li
							a(href="")
								i.fab.fa-facebook-square
						li
							a(href="")
								i.fab.fa-instagram
						li
							a(href="")
								i.fab.fa-youtube
			.logo
				a(href="")
					img(src="./assets/logo.png", alt="")
			.logo-scroll
				a(href="")
					img(src="./assets/logo-2.png", alt="")
			.header-right
				.hotline
					em.ri-phone-fill
					p 0928 247 247
				a.btn.btn-signup(href="") Đăng kí tham quan
				a.search#search-icon
					em.material-icons search
	.search-wrap
		.search-middle
			.close-btn X
			.wrap-button
				input.form-control.search-t(type='text' placeholder='Tìm kiếm...')
				button.button-search
					span.material-icons
						| search
	.overlay 