// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;531;600;700;800;900&display=swap')
// @font-face 
// 	font-family: SFU Sigvar Demi Bold
// 	src: url('../fonts/SFUSigvarDemiBold.TTF')
=dc()
	display: flex
	justify-content: center
	align-items: center
=li($name, $ratio)
	+ $name
		margin-top: $ratio
=line($line)
	overflow: hidden
	display: -webkit-box
	text-overflow: ellipsis
	-webkit-line-clamp: $line
	-webkit-box-orient: vertical
=img-scale($ratio)
	padding-top: ($ratio * 100%)
	display: block
	position: relative
	overflow: hidden
	img
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		object-fit: cover
		transition: .2s ease-in-out all
=iframe-scale($ratio)
	padding-top: ($ratio * 100%)
	display: block
	position: relative
	overflow: hidden
	iframe
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		object-fit: cover
=gradient()
	text-transform: uppercase
	background-image: $gradient-1
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent
	display: inline-flex