@import _mixin
@import _color
@import fullpage/index
@import _abstracts/main
@import _globals/main
@import _layouts/main
@import banner/main
@import pages/_main


.section-title
	padding-bottom: 15px
	p 
		font-size: 16px
		font-weight: 400
		color: $blue
		text-transform: uppercase
	.name, h2 
		font-family: $font-2
		margin-top: 15px
		font-size: 26px
		font-weight: 700
		text-transform: uppercase
		background-image: linear-gradient(42deg, rgba(165,122,97,1) 0%, rgba(233,198,141,1) 100%)
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		display: inline-flex
		line-height: 1.2
	.white
		color: #ffffff
	&.line 
		position: relative
		&::before
			content: ''
			position: absolute
			bottom: 0
			left: 0
			background: $main 
			height: 1px
			width: 90px
	&.text-center
		text-align: center
		&.line 
			&::before
				left: 50%
				transform: translateX(-50%)
	@media(min-width: 768px)
		// p 
		// 	font-size: 22px
		// h2 
		// 	font-size: 32px
	@media(min-width: 1024px)
		p 
			font-size: 18px
		.name, h2 
			font-size: 28px
	@media(min-width: 1366px)
		.name, h2 
			font-size: 30px
	@media(min-width: 1600px)
		p
			font-size: 24px
		.name, h2 
			font-size: 30px
	@media(min-width: 1700px)
		.name, h2 
			font-size: 44px
.section-title-child
	padding-bottom: 15px
	p 
		font-size: 16px
		font-weight: 400
		color: $blue
		text-transform: uppercase
	.name, h2 
		font-family: $font-2
		margin-top: 15px
		font-size: 20px
		font-weight: 700
		text-transform: uppercase
		background-image: linear-gradient(42deg, rgba(165,122,97,1) 0%, rgba(233,198,141,1) 100%)
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		display: inline-flex
		line-height: 1.2
	.white
		color: #ffffff
	&.line 
		position: relative
		&::before
			content: ''
			position: absolute
			bottom: 0
			left: 0
			background: $main 
			height: 1px
			width: 90px
	&.text-center
		text-align: center
		&.line 
			&::before
				left: 50%
				transform: translateX(-50%)
	@media(min-width: 768px)
		// p 
		// 	font-size: 22px
		// h2 
		// 	font-size: 32px
	@media(min-width: 1024px)
		p 
			font-size: 18px
		.name, h2 
			font-size: 24px
	@media(min-width: 1200px)
		.name, h2 
			font-size: 26px
	@media(min-width: 1366px)
		p
			font-size: 20px
		.name, h2 
			font-size: 33px
	@media(min-width: 1600px)
		.name, h2 
			font-size: 36px
.main-section
	padding: 50px 0
.image
	position: relative
	.button-icon-search
		position: absolute
		top: 50%
		transform: translate(-50%, -50%)
		left: 50%
		z-index: 11
		display: flex
		justify-content: center
		align-items: center
		transition: .2s ease-in-out all
		opacity: 1
		width: 50px
		height: 50px
		&::before
			content: ''
			position: absolute
			top: 50%
			transform: translate(-50%, -50%)
			left: 50%
			background: rgba($blue, 0.3)
			width: calc( 100% + 20px )
			height: calc( 100% + 20px )
			border-radius: 50%
			z-index: 0
		a 
			background-image: $gradient-1
			border-radius: 50%
			display: flex
			justify-content: center
			align-items: center
			width: 100%
			height: 100%
			z-index: 11
		em 
			font-size: 24px
			color: #ffffff
	@media(min-width: 1200px)
		.button-icon-search
			opacity: 0
.homepage
	footer
		display: none !important