header
	position: fixed
	width: 100%
	height: 240px
	visibility: visible
	opacity: 1
	background-image: url('../assets/banner/header.png')
	background-size: cover
	background-repeat: no-repeat
	background-position: bottom
	z-index: 900
	transition: all .3s ease-in-out
	padding-top: 10px
	nav
		position: relative
		width: 100%
		min-height: 71px
		display: flex
		.header-left
			display: flex
			align-items: center
			.toggle-menu 
				cursor: pointer
				position: relative
				padding: 20px
				background-color: rgb(4, 30, 60)
				width: 110px
				height: 40px
				display: flex
				align-items: center
				transition: .3s all linear
				.hamburger-button
					position: relative
					width: 20px
					transition: .3s all linear
					margin-right: 13px
					span 
						position: absolute
						left: 50%
						transform: translate(-50%, -50%)
						width: 20px
						height: 2px
						background-color: #fff
						content: ""
						transition: .3s all linear
						&:first-child
							top: -5px
						
						&:last-child
							top: 5px
				&.active 
					transition: .3s all linear
					background-image: linear-gradient( 90deg, rgb(165,122,97) 0%, rgb(233,198,141) 99%);
					.hamburger-button
						span
							top: 50%
							left: 50%
							&:first-child 
								transform: translate(-50%, -50%) rotate(45deg)
							&:nth-child(2)
								visibility: hidden
								opacyti: 0
								transition: .2s all linear
							&:last-child
								transform: translate(-50%, -50%) rotate(-45deg)
				span
					font-size: 14px;
					font-family: "Inter";
					color: rgb(255, 255, 255);
					font-weight: bold;
					text-align: center;
				@media(max-width: 576px)
					width: 40px
					.hamburger-button
						+ span 
							display: none
			.language
				background-color: rgb(255, 255, 255);
				width: 90px;
				height: 40px;
				margin-left: 10px
				.Module
					height: 100%
				ul 
					width: 100%
					height: 100%
					list-style: none
					display: flex
					align-items: center
					padding-left: 0
					justify-content: center
					li 
						padding: 0 6px
						&:first-child
							padding-left: 0
							border-right: solid 1px #999999
						&:last-child
							padding-right: 0
						a 
							font-size: 14px
							color: rgb(153, 153, 153)
							font-family: 'Inter'
						&.active
							a 
								color: #e1ba66
				@media(max-width: 576px)
					display: none
			.main-menu
				position: absolute
				top: 300%
				background-color: rgba($color: #0b2237, $alpha: .8)
				width: 590px
				height: 658px
				padding: 40px 55px 40px
				padding-right: 0
				visibility: hidden
				opacity: 0
				transition: all .5s ease-in-out
				&::before
					position: absolute
					top: -40px
					left: 50px
					content: '\EA77'
					font-family: 'remixicon'
					font-size: 48px
					color: rgba($color: #0b2237, $alpha: .8)
				&.active
					visibility: visible
					opacity: 1
					top: 100%
					transition: all .5s ease-in-out
				.nav-bar
					list-style: none
					padding-left: 0
					.nav-item
						padding-bottom: 30px
						.nav-link
							position: relative
							width: max-content
							padding: 0
							font-size: 28px
							font-family: "Inter"
							color: rgb(255, 255, 255)
							font-weight: bold;
							text-transform: uppercase
							transition: all .3s ease-in-out
							&::before
								position: absolute
								content: ''
								width: 20px
								height: 1px
								background-color: #d5ab67
								top: 50%
								left: -35px
								transform: translateY(-50%)
								visibility: hidden
								opacity: 0
							&::after
								position: absolute
								content: ''
								width: 60px
								height: 1px
								background-color: #d5ab67
								top: 50%
								right: -75px
								transform: translateY(-50%)
								visibility: hidden
								opacity: 0
						&.dropdown
							.dropdown-menu
								display: block
								top: 0
								left: 50%
								visibility: hidden
								opacity: 0
								transition: all ease-in-out .3s
								border: none
								border-radius: 0
								padding: 0
								background-color: transparent
								.dropdown-item
									a 
										font-size: 18px
										font-family: "Inter"
										color: rgb(255, 255, 255)
										text-transform: uppercase
										text-align: left
									&:hover
										background-color: transparent
										a
											color: #d5ab67
									&.active
										a 
											color: #d5ab67

						&:hover
							.nav-link
								transform: translateX(40px)
								transition: all .3s ease-in-out
								color: #d5ab67
								&::before,
								&::after
									visibility: visible
									opacity: 1
							&.dropdown
								.dropdown-menu
									visibility: visible
									opacity: 1
						&.active
							.nav-link
								transform: translateX(40px)
								transition: all .3s ease-in-out
								color: #d5ab67
								&::before,
								&::after
									visibility: visible
									opacity: 1
						&:nth-child(4)
							&.dropdown
								.dropdown-menu
									top: -15%
									left: 50%
				a 
					display: flex
					align-items: center
					font-size: 18px
					font-family: "Inter"
					color: rgb(255, 255, 255)
					.material-icons
						padding-right: 10px
						font-size: 20px
						font-family: "Material Icons"
						color: rgba(255, 255, 255, 0.502)
				.social
					display: flex
					list-style: none
					padding-left: 0
					margin-top: 25px
					li 
						border-width: 1px
						border-color: rgb(255, 255, 255)
						border-style: solid
						border-radius: 50%
						width: 34px
						height: 34px
						display: flex
						align-items: center
						justify-content: center
						margin-right: 10px

		.logo
			position: absolute
			left: 50%
			transform: translateX(-50%)
			width: 117px
			height: 71px
			text-align: center
			transition: all .3s ease-in-out
			img
				width: 100%
				height: 100%
				object-fit: contain
			&.active
				width: 0
				height: 0
				opacity: 0
				visibility: hidden
				transition: all .3s ease-in-out
		.logo-scroll
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			width: 0
			height: 0
			visibility: hidden
			opacity: 0
			transition: all .3s ease-in-out
		.header-right
			display: flex
			align-items: center
			margin-left: auto
			.hotline
				display: flex
				align-items: center
				justify-content: center
				background-color: rgb(4, 30, 60)
				width: 200px
				height: 40px
				.ri-phone-fill
					font-size: 18px
					font-family: "Material Icons"
					color: #d4ad5a
					padding-right: 10px
				p 
					font-size: 14px
					font-family: "Inter"
					font-weight: bold
					color: #d4ad5a
				@media(max-width: 1366px)
					width: auto
					padding: 5px 15px
				@media(max-width: 576px)
					display: none
			.btn-signup
				background-image: linear-gradient( 0deg, rgb(165,122,97) 0%, rgb(233,198,141) 99%)
				width: 200px
				height: 40px
				margin-left: 10px
				border-radius: 0
				line-height: 40px
				font-size: 14px
				font-family: "Inter"
				color: rgb(255, 255, 255)
				font-weight: bold
				@media(max-width: 1366px)
					width: auto
					padding: 0 15px
				@media(max-width: 576px)
					display: none
			.search
				background-color: rgb(255, 255, 255)
				width: 40px
				height: 40px
				margin-left: 10px
				text-align: center
				em
					line-height: 40px
					font-size: 24px
					font-family: "Material Icons"
					color: rgb(153, 153, 153)
	&.active
		height: 0
		visibility: hidden
		opacity: 0
		transition: ease-in-out all .3s
	&.header-scrolled
		display: flex
		align-items: center
		transition: ease-in-out all .3s
		background-color: rgba(4, 30, 60, .9)
		height: 71px
		padding-top: 0
		opacity: 1
		visibility: visible
		nav
			padding: 0
			.header-left
				.main-menu
					&.active
						top: 120%
		.logo-scroll
			opacity: 1
			visibility: visible
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			width: 45px
			height: 45px
			transition: all .3s ease-in-out
	@media(max-width: 576px)
		nav 
			.header-left 
				.main-menu
					padding: 15px
					width: calc( 100vw - 30px )
					height: max-content
					.nav-bar
						.nav-item
							padding-bottom: 20px
							.nav-link
								font-size: 18px
							&.active
								.nav-link
									&:before 
										width: 15px
										left: -25px
									&:after 
										width: 50px
										right: -65px
							&.dropdown 
								.dropdown-menu
									position: relative
									left: 0
									margin-top: 10px
									float: none
									height: 0
								&:hover 
									.dropdown-menu
										height: 100%