section.tin-tuc-chi-tiet.section
	.container
		.wrap-title-post
			.title
				h1 Hơn 500 chiến binh sales hừng hực khí thế trong lễ ra quân dự án The Apus
			.wrap-social-date
				span.date 07.07.2020
				.line
				.social
					i.ri-facebook-box-fill
					i.ri-instagram-line
		.wrap-content
			p Với chủ đề “Top of the sea – Thủ lĩnh đại dương”, lễ ra quân dự án The Apus đã diễn ra hoành tráng và đầy cảm xúc tại TP.HCM. Khí thế hừng hực của hơn 500 chiến binh, hứa hẹn sẽ làm nên thành công rực rỡ của dự án nghỉ dưỡng được kỳ vọng nhất năm 2020 tại thị trường Phước Hải – Vũng Tàu.
			p
				img(src="./assets/images/tin-tuc/tt-ct.png", alt="")
			h3 Hơn 500 trái tim hòa cùng một nhịp
			p Với quy mô lên tới hơn 5ha, dự án có mức đầu tư khủng lên tới hàng trăm tỉ đồng này hứa hẹn sẽ trở thành một biểu tượng đặc trưng được du khách nhớ tới khi nói về ngành du lịch Phước Hải, một thiên đường du lịch mới được đánh thức sau thời gian dài chưa khai thác hết tiềm năng. Được đầu tư theo mô hình beach club nổi tiếng khắp thế giới, The Apus sẽ mang tới những trải nghiệm nghỉ dưỡng đỉnh cao chưa từng có tại Phước Hải cho du khách, được kỳ vọng sẽ làm thay đổi ngành công nghiệp không khói không chỉ của thủ phủ du lịch Vũng Tàu mà trên khắp cả nước
			p Tại sự kiện, lễ ký kết hợp tác giữa chủ đầu tư Công ty Cổ Phần Thương Mại Du Lịch Tân Thành và Tổng Đại lý Tư vấn Tiếp thị và Phân phối Thủ Thiêm Real cùng Đơn vị Phân phối Chiến lược Cường Thịnh Land và Olympus Real Estate cho dự án The Apus đã diễn ra thành công tốt đẹp, là tiền đề để tạo nên làn sóng mạnh mẽ khuấy đảo thị trường phía Nam, giúp các chiến binh sales tinh nhuệ "bách chiến, bách thắng", trở thành những thủ lĩnh của đại dương nhờ vào sản phẩm đầu tư đầy đột phá The Apus.
section.other-posts
	.container
		.sec-title.center
			.title
				h3 Tin tức khác
		.wrap-slide
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<5;i++)
						.swiper-slide
							.box-post-tin
								.img
									a(href="")
										img(src="./assets/images/tin-tuc/tt-1.png", alt="")
								.wrap-text
									span.date 07.07.2020
									.title
										a(href="") The Apus – tâm điểm đầu tư xứng tầm tại Phước Hải
									a(href="").viewlink Xem chi tiết
			.wrap-button
				.swiper-prev.swiper-button-1
					img.back(src="./assets/images/tin-tuc/mui-ten-1.png", alt="")
				.swiper-next.swiper-button-1
					img.next(src="./assets/images/tin-tuc/mui-ten-1.png", alt="")

