section.section-child.contact
	.container
		.block-title
			h2 liên hệ
			h1 the apus
		.row
			.col-xl-4.col-md-6
				.contact-infor
					.content
						h3 Dự án khu căn hộ nghỉ dưỡng The Apus
						ul 
							li 
								span 
									em.ri-map-pin-fill
									p Tỉnh lộ 44, thị trấn Long Hải, huyện Đất Đỏ, tỉnh Bà Rịa - Vũng Tàu 
							li 
								span
									em.ri-mail-fill
									p info@apus.vn
							li
								span
									em.ri-phone-fill
									p 0928 247 247
						ul.social
							li
								a(href="")
									i.fab.fa-facebook-square
							li
								a(href="")
									i.fab.fa-instagram
							li
								a(href="")
									i.fab.fa-youtube
			.col-xl-8.col-md-6
				.contact-img
					img(src="./assets/images/contact/Apus_villar_02 Final.png", alt="")
section.section-child.contact-2
	.container
		.content
			.row
				.col-xl-6.col-md-12
					.contact-map
						iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3924.2304928127473!2d107.27172354739292!3d10.403259563372465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31757723481cda61%3A0xe61aafb2d3fcd526!2zVGhlIEFwdXMgUmVzb3J0IFBoxrDhu5tjIEjhuqNp!5e0!3m2!1sen!2s!4v1599429780380!5m2!1sen!2s" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
				.col-xl-6.col-md-12
					.contact-form
						.block-title
							h2 đăng kí nhận tư vấn
						.desc
							p Để lại thông tin của bạn để nhận được tư vấn cũng như thông tin chi tiết về sản phẩm và dịch vụ của chúng tôi sớm nhất.
						.box-form
							.form-group
								input(type='text' placeholder='Họ và tên')
							.form-group
								input(type='text' placeholder='Số điện thoại')
							.form-group
								input(type='text' placeholder='Địa chỉ')
							.form-group
								input(type='text' placeholder='Email')
							.form-group.form-title
								input(type='text' placeholder='Tiêu đề')
							.form-group.qparagraph 
								textarea(cols="30", rows="5" placeholder='Nội dung')
							.frm-captcha
								.frm-captcha-input
									input(type='text' placeholder='Nhập mã captcha')
								.RadCaptcha
									a.rcRefreshImage(title='Hình ảnh mới' href="")
										em.material-icons replay
										img(alt='' src='./assets/images/contact/captcha.png')
							.frm-btnwrap
								.frm-btn
									input.btn.btn-default.frm-btn-submit(type='submit' name="" value='Gửi')
