section.the-apus-home-13.main-section(setBackground="./assets/home-m/bg-4.png")
	.container
		.section-title.text-center.line
			p.white Liên hệ
			h2 The APUS
		.main-content
			address Tỉnh lộ 44, Thị trấn Phước Hải, Huyện Đất Đỏ, Tỉnh Bà Rịa - Vũng Tàu
			address.mt-20 Văn phòng: 35 Nguyễn Cơ Thạch, Khu đô thị mới Sala, Phường An Lợi Đông, Quận 2, Tp. HCM
			ul 
				li 
					p Hotline: 
						a(href="tel: 0928 247 247") 0928 247 247
				li 
					p Kết nối: 
						a(href="#") 
							em.fab.fa-facebook-square
						a(href="#") 
							em.fab.fa-youtube
						a(href="#") 
							em.fab.fa-instagram
				li 
					p Email: 
						a(href="mailto: info@apus.vn") info@apus.vn
			.register-news
				a(href="#") Đăng ký nhận tin
			.list-icon
				.row
					.col-6
						.icon-item
							p.name Nhà phát triển dự án
							img(src="./assets/home-m/i1.png", alt="")
					.col-6
						.icon-item
							p.name Đơn vị phân phối độc quyền
							img(src="./assets/home-m/i2.png", alt="")
			.copyright
				p ©2020 The Apus. Thiết kế website bởi Cánh Cam.