section.the-apus-home-11.main-section(setBackground="./assets/home-m/bg-2.png")
	.container
		.section-title.text-center.line
			p.white sản phẩm
			h2 Một biểu tượng nghỉ dưỡng thượng lưu
		.main-product
			.product-item
				.content
					h3.title Biệt thự
				.image
					img(src="./assets/home-m/2.png", alt="")
					.button-icon-search
						a(href="#")
							em.mdi.mdi-magnify
			.product-item
				.content
					h3.title Biệt thự
						.line
				.image
					img(src="./assets/home-m/3.png", alt="")
					.button-icon-search
						a(href="#")
							em.mdi.mdi-magnify