section.nha-mau.section
	.container
		.sec-title.center
			h2 Nhà mẫu
			h1.text Nơi khởi đầu cho
				br 
				| cuộc sống hoàn mỹ
		.row 
			.col-lg-6
				.box-img-big 
					.img
						a(href="")
							img(src="./assets/images/nha-mau/nhamau-1.png", alt="")
			.col-lg-6
				.row 
					.col-md-6
						.box-img-small
							.img 
								a(href="")
									img(src="./assets/images/nha-mau/nhamau-2.png", alt="")
						.box-img-small
							.img 
								a(href="")
									img(src="./assets/images/nha-mau/nhamau-2.png", alt="")
					.col-md-6
						.box-img-small
							.img 
								a(href="")
									img(src="./assets/images/nha-mau/nhamau-2.png", alt="")
						.box-img-small
							.img 
								a(href="")
									img(src="./assets/images/nha-mau/nhamau-2.png", alt="")
			.col-lg-6
				.row 
					.col-md-6
						.box-img-small
							.img 
								a(href="")
									img(src="./assets/images/nha-mau/nhamau-2.png", alt="")
						.box-img-small
							.img 
								a(href="")
									img(src="./assets/images/nha-mau/nhamau-2.png", alt="")
					.col-md-6
						.box-img-small
							.img 
								a(href="")
									img(src="./assets/images/nha-mau/nhamau-2.png", alt="")
						.box-img-small
							.img 
								a(href="")
									img(src="./assets/images/nha-mau/nhamau-2.png", alt="")
			.col-lg-6
				.box-img-big 
					.img
						a(href="")
							img(src="./assets/images/nha-mau/nhamau-1.png", alt="")
		ul.pagination
			li.active
				a(href="") 1
			li
				a(href="") 1
			li
				a(href="") 1