.h-3
	width: 100%
	height: 100vh
	background-color: rgb(245, 245, 245);
	.sec-title
		@media screen and ( max-width:  1600px)
			h2 
				font-size: 20px
			.text
				font-size: 30px
	.h-2__right
		padding-top: 40px
		@media screen and ( max-width: 1600px)
			padding-top: 0
			margin-bottom: 15px
			.desc
				
				p 
					font-size: 16px
	.list-items
		width: 100%
		height: 100%
		margin-top: 20px
		.row
			.col-xl-2
				position: relative
				&::before
					position: absolute
					top: 0
					right: 0
					content: ''
					background-image: linear-gradient(#fff, rgb(210, 171, 90), #fff)
					width: 1px;
					height: 150px;
				&:nth-child(6)
					&::before
						display: none
				@media screen and ( max-width: 1600px)
					&::before
						height: 80px
		.item
			text-align: center
			.number
				.counter
					font-size: 48px
					font-family: "Inter"
					color: #003c63
					font-weight: bold
					text-transform: uppercase
					@media screen and ( max-width: 1600px)
						font-size: 25px
				small
					font-size: 1.125rem
					font-family: "Inter"
					color: #003c63
					font-weight: bold
					text-transform: uppercase
					@media screen and ( max-width: 1600px)
						font-size: 16px
			.desc
				text-align: center
				span 
					font-size: 14px
					font-family: "Inter"
					color: #666666
					text-transform: uppercase
					text-align: center
					@media screen and ( max-width: 1600px)
						font-size: 13px
		.img
			margin-top: 35px
			width: 100%
			+img-scale(600/1410)
			padding-top: 38.32624%
			img 
				width: 100%
				height: 100%
				object-fit: cover
			@media screen and ( max-width: 1600px)
				padding-top: 43.32624%
			@media screen and ( max-width: 1440px)
				margin-top: 15px
				padding-top: 40.32624%
			@media screen and ( max-width: 1280px)
				padding-top: 38.32624%
			@media screen and ( max-width: 768px)
				height: 300px
	@media(max-width: 576px)
		height: auto 
		.sec-title
			margin-bottom: 20px
