section.tong-quan
	.filed-nav
		ul
			li
				a(href="#section-1") Ưu điểm
			li
				a(href="#section-2") Thông tin dự án
			li
				a(href="tien-ich-ngo-khu.html") Ý tưởng
			li
				a(href="tien-ich-ngo-khu.html") Chủ đầu tư
	.tong-quan-1#section-1
		.container
			.wrap-box
				.text-left
					.sec-title
						h2 Những ưu điểm của The Apus
						.text nghỉ dưỡng khách sạn
							br
							| đẳng cấp thượng lưu.
				.text-right
					p Tọa lạc dưới dãy núi kiêu hùng Minh Đạm, The Apus có vị thế TỰA SƠN HƯỚNG HẢI vượng khí sinh tài. BEACH CLUB là yếu tố không thể thiếu trong mô hình nghỉ dưỡng hiện đại, kết hợp DU THUYỀN sang trọng, mở ra một THIÊN ĐƯỜNG NGHỈ DƯỠNG tại Phước Hải - Bà Rịa - Vũng Tàu và khu vực miền Nam Việt Nam.
	.h-3.tong-quan-2#section-2
		.container
			.list-items
				.row
					.col-xl-2.col-md-4.col-6
						.item
							.number
								strong.counter(data-count="5") 0
								small ha
							.desc
								span Tổng diện tích đất
									br
									| toàn khu
					.col-xl-2.col-md-4.col-6
						.item
							.number
								strong.counter(data-count="50.5") 0
								small M
									sup 2
							.desc
								span Diện tích khuôn
									br
									| viên
					.col-xl-2.col-md-4.col-6
						.item
							.number
								strong.counter(data-count="23.5") 0
								small %
							.desc
								span Mật độ xây dựng
					.col-xl-2.col-md-4.col-6
						.item
							.number
								strong.counter(data-count="658") 0
								small Căn
							.desc
								span Căn hộ du lịch
					.col-xl-2.col-md-4.col-6
						.item
							.number
								strong.counter(data-count="58") 0
								small Căn
							.desc
								span Căn biệt thự
									br
									| nghỉ dưỡng
					.col-xl-2.col-md-4.col-6
						.item
							.number
								strong.counter(data-count="7") 0
								small +
							.desc
								span Phân khu the apus
					.img
						img(src="./assets/images/index/i-3.png", alt="")
	.tong-quan-3.section
		.container
			.sec-title.center
				h2 Thông tin dự án
				.text The apus
			.wrap-table
				table
					tbody
						-for(i=0;i<7;i++)
							tr
								td Loại hình sản phẩm
								td
									p Tỉnh lộ 44, Thị trấn Phước Hải, Huyện Đất p Đỏ, Tỉnh Bà Rịa - Vũng Tàu
	.tong-quan-4.section
		.container
			.box-tq-4
				.row
					.col-xl-4.box-left
						.wrap-text-left
							.sec-title
								h2 Ý tưởng sáng tạo
								.text lấy cảm hứng từ sự
									br
									| phát triển thần kỳ
									br
									| của Bali
							.wrap-des
								p thiên đường du lịch với những nét thu hút đặc sắc - các nhà đầu tư tại Việt Nam đã ấp ủ tái một biểu tượng nghỉ dưỡng thượng lưu nhưng vẫn sở hữu văn hóa bản địa đặc sắc cùng với nhiều điểm tham quan lý thú. Từ đó, THE APUS ra đời bằng những tâm huyết lớn lao dành cho mảnh đất Phước Hải vốn có rất nhiều tiềm năng phát triển.
					.col-xl-8.box-right
						.img
							a(href="./assets/tong-quan/tong-quan-img.png" data-fancybox)
								img(src="./assets/tong-quan/tong-quan-img.png", alt="")
			.box-tq-4
				.row
					.col-xl-8.box-right
						.img
							a(href="./assets/tong-quan/tong-quan-img.png" data-fancybox)
								img(src="./assets/tong-quan/tong-quan-img.png", alt="")
					.col-xl-4.box-left
						.wrap-text-left
							.sec-title
								h2 Ý tưởng sáng tạo
								.text lấy cảm hứng từ sự
									br
									| phát triển thần kỳ
									br
									| của Bali
							.wrap-des
								p thiên đường du lịch với những nét thu hút đặc sắc - các nhà đầu tư tại Việt Nam đã ấp ủ tái một biểu tượng nghỉ dưỡng thượng lưu nhưng vẫn sở hữu văn hóa bản địa đặc sắc cùng với nhiều điểm tham quan lý thú. Từ đó, THE APUS ra đời bằng những tâm huyết lớn lao dành cho mảnh đất Phước Hải vốn có rất nhiều tiềm năng phát triển.






