section.section-child.filed
	.container
		.filed-nav
			ul
				li.active
					a(href="tien-ich-noi-khu.html") Tiện ích nội khu
				li
					a(href="tien-ich-ngo-khu.html") Tiện ích ngoại khu
		.block-title
			h2 tiện ích ngoại khu
		.desc
			h1 vị trí vàng cho
				br
				|cuộc sống thịnh vượng
			p Nằm trên cung đường biển dài hơn 14km của Phước Hải, du khách chẳng cần đi xa để hòa mình không gian biển tươi mát hay di chuyển đến các địa điểm du lịch nổi tiếng như:
		.img-desc
			img(src="./assets/images/tienich/t-1.png", alt="")
		.filed-list
			.filed-item
				.row
					.col-xl-8.col-md-6.left
						.img
							img(src="./assets/images/tienich/t-2.png", alt="")
					.col-xl-4.col-md-6.right
						.desc
							h4 Sân bay quốc tế Long Thành
							h3 Trung tâm thành phố sân bay
							p Kì vọng trở thành điểm trung chuyển sôi động nhất  Việt Nam và khu vực. Ngoài ra, tỉnh còn nâng cấp  sân bayCôn Đảo,Cảng tàu khách quốc tế Vũng Tàu.
			.filed-item
				.row
					.col-xl-8.col-md-6.left
						.img
							img(src="./assets/images/tienich/t-3.png", alt="")
					.col-xl-4.col-md-6.right
						.desc
							h4 Sân golf The Bluffs - Hồ Tràm
							h3 Được thiết kế bởi tay gôn huyền thoại Greg Norman
							p Nằm ở phía Đông nam của thành phố Hồ Chí Minh với khoảng cách không đến 02h lái xe. Sân Golf đã thu hút nhiều quý tộc chơi golf trong thành phố đến chơi tại đây. 
			.filed-item
				.row
					.col-xl-8.col-md-6.left
						.img
							img(src="./assets/images/tienich/t-4.png", alt="")
					.col-xl-4.col-md-6.right
						.desc
							h4 suối nước nóng bình châu
							h3 khu du lịch tắm suối nóng duy nhất tại Vũng Tàu
							p Kì vọng trở thành điểm trung chuyển sôi động nhất  Việt Nam và khu vực. Ngoài ra, tỉnh còn nâng cấp  sân bayCôn Đảo,Cảng tàu khách quốc tế Vũng Tàu. 
			.filed-item
				.row
					.col-xl-8.col-md-6.left
						.img
							img(src="./assets/images/tienich/t-5.png", alt="")
					.col-xl-4.col-md-6.right
						.desc
							h4 bãi biển long hải
							h3 Thiên nhiên quanh năm mát mẻ
							p Nằm ở phía Đông nam của thành phố Hồ Chí Minh với khoảng cách không đến 02h lái xe. Sân Golf đã thu hút nhiều quý tộc chơi golf trong thành phố đến chơi tại đây. 
			.filed-item
				.row
					.col-xl-8.col-md-6.left
						.img
							img(src="./assets/images/tienich/t-6.png", alt="")
					.col-xl-4.col-md-6.right
						.desc
							h4 sân bay lộc an
							h3 mang đến đầy đủ các tiện ích ngoại khu
							p Nếu sân bay Lộc An hoàn thành tỉnh Vũng Tàu sẽ nâng tổng số sân bay lên 2 vị trí thúc đẩy phát triển du lịch nâng tầm quốc tế. Bởi vậy, dự án sân bay Lộc An Hồ Tràm được đánh giá là chiến lược quan trọng trong ngành du lịch.
			.filed-item
				.row
					.col-xl-8.col-md-6.left
						.img
							img(src="./assets/images/tienich/t-7.png", alt="")
					.col-xl-4.col-md-6.right
						.desc
							h4 Cảng cá Lộc An
							h3 phát triển nghề cá của tỉnh
							p Với mục tiêu phục vụ cho nhu cầu phát triển nghề cá trên địa bàn tỉnh. Đây là cảng cá duy nhất của xã Lộc An, cũng là vùng biển tiềm năng với khoảng 2.000 ngư dân và gần 600 tàu thuyền đánh cá đang hoạt động ngày đêm. Ngoài ra, nơi đây còn được gọi với tên khác là Cửa biển Bến Lộ
