section.section-child.filed-1
	.container-fluid.p-0
		.filed-nav
			ul
				li.active
					a(href="tien-ich-noi-khu.html") Tiện ích nội khu
				li
					a(href="tien-ich-ngo-khu.html") Tiện ích ngoại khu
		.block-title
			h2 tiện ích nội khu
		.filed-item
			.desc
				h1 Nơi khởi đầu cho 
					br 
					|cuộc sống hoàn mỹ
				p Là một khu du lịch nghỉ dưỡng đẳng cấp, The Apus cũng xây dựng các khu trung tâm thương mại bên dưới khu căn hộ để đáp ứng nhu cầu mua sắm, giải trí cho du khách. Chẳng cần đi đâu xa, du khách cũng dễ dàng tiếp cận những tiện ích như:
			.img
				img(src="./assets/images/tienich/noikhu.png", alt="")
		.container
			table
				tbody
					tr
						td 
							.munber
								|01
						td
							a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
						td 
							.munber 
								|02
						td
							a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
						td 
							.munber 
								|03
						td
							a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
						td 
							.munber 
								|04
						td
							a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
					tr
						td 
							.munber 
								|05
						td
							a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
						td 
							.munber 
								|06
						td
							a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
						td 
							.munber 
								|07
						td
							a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
						td 
							.munber 
								|08
						td
							a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
					tr
						td 
							.munber 
								|09
						td
							a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
						td 
							.munber 
								|10
						td
							a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
						td 
							.munber 
								|11
						td
							a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
						td 
							.munber 
								|12
						td
							a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
					tr
						td 
							.munber 
								|13
						td
							a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
						td 
							.munber 
								|14
						td
							a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
						td 
							.munber 
								|15
						td
							a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
			.list-mobile
				.row
					.col-xl-6.col-md-6.item
						ul
							li
								.munber
									|01
								a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
							li
								.munber
									|02
								a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
							li
								.munber
									|03
								a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
							li
								.munber
									|04
								a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
					.col-xl-6.col-md-6.item
						ul
							li
								.munber
									|01
								a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
							li
								.munber
									|01
								a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
							li
								.munber
									|01
								a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
							li
								.munber
									|01
								a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
					.col-xl-6.col-md-6.item
						ul
							li
								.munber
									|01
								a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
							li
								.munber
									|01
								a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
							li
								.munber
									|01
								a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
							li
								.munber
									|01
								a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
					.col-xl-6.col-md-6.item
						ul
							li
								.munber
									|01
								a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
							li
								.munber
									|01
								a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
							li
								.munber
									|01
								a(href="") Thảm cỏ ( nơi diễn chụp ảnh, yoga, thiền định)
