section.mat-bang-02.section(setBackground="./assets/mat-bang-02/bg.png")
	.container
		.sec-title.center
			h2 Mặt bằng tổng thể
			.text the eden villa
		.wrap-image
			map(name="")
				.img
					img(src="./assets/mat-bang-02/image-mat-bang-2.png", alt="")
			.wrap-text
				.title-line Biệt thự nghỉ dưỡng với khuôn viên từ
					br
					strong 300 m2 - 480 m2
				.mota-text
					.text-1
						.vuong
						.text Villas căn dọc
					.text-2
						.vuong
						.text Villas căn ngang
