<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
	<position>
		<add name="Menu chính" value="1" resourcefile=""/>
		<add name="Menu footer" value="2" resourcefile=""/>
		<add name="Nav tiện ích" value="4" resourcefile=""/>
		<add name="The APUS" value="8" resourcefile=""/>
		<add name="Những ưu điểm của The Apus" value="16" resourcefile=""/>
		<add name="Vị trí" value="32" resourcefile=""/>
		<add name="TIỆN ÍCH" value="64" resourcefile=""/>
		<add name="Phân khu" value="128" resourcefile=""/>
		<add name="Sản phẩm" value="256" resourcefile=""/>
		<add name="TIN TỨC SỰ KIỆN" value="512" resourcefile=""/>
		<add name="Liên hệ" value="1024" resourcefile=""/>
		<add name="Nav tiện ích 9" value="2048" resourcefile=""/>
	</position>
</settings>