extends _components/_layout/_layout.pug

block var
	- let title = 'TRANG CHỦ';
	- let bodyClass = 'index-page';
	- let titlePosition = ['Trang Chu'];
block banner,breadcrumb
block main
	#fake-header
		.close-button
			em.lnr.lnr-cross
			span Close
		.menu-fake-header
		.logo-fake-header
	#fake-header-open
		.open-button
			span Menu
	//- #pagepiling
	.full-page
		include ./_components/index/i-1.pug
		include ./_components/index/i-2.pug
		include ./_components/index/i-3.pug
		include ./_components/index/i-4.pug
		include ./_components/index/i-5.pug
		//- manh
		include ./_components/home/index10.pug
		include ./_components/home/index11.pug
		include ./_components/home/index12.pug
		include ./_components/home/index13.pug
		//- .wheel
		//- 	span
		//- 	span
		//- 	span
block scripts
