extends _components/_layout/_layout.pug

block var
	- let title = 'Nhà mẫu';
	- let bodyClass = 'news-page';
	- let titlePosition = ['Tin tức'];
block banner,breadcrumb
block main
	include ./_components/banner/pages-banner.pug
	include ./_components/_layout/_breadcrumb.pug
	include ./_components/mat-bang-02/index.pug
block scripts
