section.mat-bang-3.section(setBackground="./assets/mat-bang-3/bg-xanh.jpg")
	.container
		.sec-title.center
			h2 The eden villa
			.text villas căn ngang
		.wrap-box-mb
			.row.justify-content-center
				-for(i=0;i<3;i++)
					.col-lg-4.col-md-6
						.img
							a(href="./assets/mat-bang-3/mb3-1.jpg" data-fancybox)
								img(src="./assets/mat-bang-3/mb3-1.jpg", alt="")
						.wrap-text
							p mặt bằng tầng 1
		.wrap-table
			.row
				.col-lg-6
					table
						tbody
							tr
								td Số lượng
								td 32 căn biệt thự
							tr
								td Diện tích lô đất
								td 300 m2 - 430 m2

							tr
								td Diện tích xây dựng
								td 105 m2
				.col-lg-6
					table
						tbody
							tr
								td Mật độ xây dựng
								td 22% ~ 30%
							tr
								td Tổng diện tích sàn
								td 373 m2
							tr
								td Số tầng
								td 2, sân thượng








