section.mat-bang-01.section
	.container
		.sec-title.center
			h2 Mặt bằng
			.text
				| MẶT BẰNG TỔNG THỂ
				br
				| THE apus
		.sec-des
			p Hai tầng khối để khu căn hộ nghỉ dưỡng cao cấp 5 sao được thiết kế với đầy đủ dịch vụ tiện nghi cho toàn khu Resort. The Lounge phục vụ đầy đủ các dịch vụ cao cấp ngay tại bãi biển Phước Hải
		.sec-image
			a(href="./assets/images/tin-tuc/mat-bang-01-bg.png", data-fancybox)
				img(src="./assets/images/tin-tuc/mat-bang-01-bg.png", alt="")
