section.section.h-4.vi-tri
	.container
		.sec-title
			h2 vị trí
			h1.text Giao thông thuận tiện,
				br
				|Kết nối dễ dàng
			p.sec-des Nằm liền kề với bãi biển Long Hải trên mặt tiền đường tỉnh lộ 44, thị trấn Long Hải, huyện Đất Đỏ, tỉnh Bà Rịa - Vũng Tàu dọc đường bờ biển dài hơn 14km. Là vị trí vô cùng thuận lợi cho việc kết nối du lịch và trải nghiệm không gian nghỉ dưỡng đầy mới mẻ, hứa hẹn sẽ là điểm du lịch hấp dẫn cho các du khách.
		.row
			.col-xl-8.col-md-6.pr-0
				.img
					img(src="./assets/images/index/i-4.png", alt="")
			.col-xl-4.col-md-6.pl-0
				.content
					.title
						.img
							img(src="./assets/images/index/taxi.png", alt="")
						h3 Giao thông
					.list-items
						.item
							.number
								strong 1:30’
							.desc
								span Đến TP.
									br
									| Hồ Chí Minh
						.item
							.number
								strong 25’
							.desc
								span Đến sânn bay
									br
									| Lộc An
						.item
							.number
								strong 50’
							.desc
								span Đến san bay
									br
									| Long Thành
						.item
							.number
								strong 15’
							.desc
								span Đến thành phố
									br
									| Bà Rịa
						.item
							.number
								strong 30’
							.desc
								span Đến thành phố
									br
									| Vũng Tàu