section.section.h-1#main-banner
	.main-banner
		.img-banner
			img(src="./assets/banner/b-1.png", alt="")
			.button-icon-search
				a(href="https://youtu.be/QjiUrtm0oEM" data-fancybox)
					em.mdi.mdi-play
		//- .swiper-container.home-banner
		//- 	.swiper-wrapper
		//- 		-for(i=1; i<6; i++)
		//- 			.swiper-slide
		//- 				img(src="./assets/banner/b-"+i+".png", alt="")
		//- 				.content
		//- 					p Bản giao hưởng đến từ thiên nhiên