section.section.h-2
	.container
		.row
			.col-xl-5.col-md-6.h-2__left
				.sec-title
					h2 the apus
					h1.text Một biểu tượng nghỉ 
						br
						|dưỡng thượng lưu
			.col-xl-6.col-md-6.h-2__right
				.desc
					p Sở hữu một căn hộ - biệt thự nghỉ dưỡng (một ngôi nhà thứ 2) đẳng cấp, thượng lưu. Đồng thời là một tài sản sinh lời. Một món quà ý nghĩa cho gia đình.
				a.btn.btn-viewmore(href="") 
					span xem thêm
			.col-xl-12
				.img
					img(src="./assets/images/index/i-2.png", alt="")