section.section.h-3
	.container
		.row
			.col-xl-5.col-md-6
				.sec-title
					h2 Những ưu điểm của The Apus
					h1.text nghỉ dưỡng khách sạn
						br
						|đẳng cấp thượng lưu.
			.col-xl-6.col-md-6.ml-auto
				.h-2__right
					.desc
						p Tọa lạc dưới dãy núi kiêu hùng Minh Đạm, The Apus có vị thế TỰA SƠN HƯỚNG HẢI vượng khí sinh tài. BEACH CLUB là yếu tố không thể thiếu trong mô hình nghỉ dưỡng hiện đại, kết hợp DU THUYỀN sang trọng, mở ra một THIÊN ĐƯỜNG NGHỈ DƯỠNG tại Phước Hải - Bà Rịa - Vũng Tàu và khu vực miền Nam Việt Nam.
		.list-items
			.row
				.col-xl-2.col-md-4
					.item
						.number
							strong.counter(data-count="5") 0
							small ha
						.desc
							span Tổng diện tích đất
								br
								| toàn khu
				.col-xl-2.col-md-4
					.item
						.number
							strong.counter(data-count="50.5") 0
							small M
								sup 2
						.desc
							span Diện tích khuôn
								br
								| viên
				.col-xl-2.col-md-4
					.item
						.number
							strong.counter(data-count="23.5") 0
							small %
						.desc
							span Mật độ xây dựng
				.col-xl-2.col-md-4
					.item
						.number
							strong.counter(data-count="658") 0
							small Căn
						.desc
							span Căn hộ du lịch
				.col-xl-2.col-md-4
					.item
						.number
							strong.counter(data-count="58") 0
							small Căn
						.desc
							span Căn biệt thự
								br
								| nghỉ dưỡng
				.col-xl-2.col-md-4
					.item
						.number
							strong.counter(data-count="7") 0
							small +
						.desc
							span Phân khu the apus
				.img
					img(src="./assets/images/index/i-3.png", alt="")