section.section.h-5
	.container
		.sec-title
			h2 tiện ích
			h1.text khám phá phước hải 
				br
				|với the apus
		.filed-nav
			ul
				li
					a(href="tien-ich-noi-khu.html") Tiện ích nội khu
				li
					a(href="tien-ich-ngo-khu.html") Tiện ích ngoại khu